<div class="container">
  <div class="row justify-content-center">
    <h1 style="font-weight: bold;font-family: arial;text-decoration: underline;color: white;" align="center">REGISTRATION</h1>
    <div class="col-xl-4">
      <form>
        <div class="form-group col-lg-12">
          <label style="color: white;">Username</label>
          <input type="text" class="form-control" id="usn" placeholder="Enter Username">
        </div>
        <div class="form-group col-lg-12">
          <label style="color: white;">Full Name</label>
          <input type="text" class="form-control" id="fn" placeholder="Enter Full Name">
        </div>
        <div class="form-group col-lg-12">
          <label style="color: white;">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email">
        </div>
        <div class="form-group col-lg-12">
          <label style="color: white;">Password</label>
          <input type="password" class="form-control" id="pass" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary mt-2">Submit</button><br>
        <label style="color: white;">Already Have an Account?<br>return home to login:</label>
      <a class="btn btn-secondary" routerLink="login">Home</a>
      </form>
       <br>
    </div>
  </div>
</div>