    .registration-heading {
        font-weight: bold;
        font-family: Arial;
        text-decoration: underline;
        color: white;
    }
    
    .container {
        width: auto;
    }
    
    .form-group {
        color: white;
        
    }
    