body{
background-image: url('/src/assets/img/bg-1.jpg ');
background-repeat: no-repeat;
background-size: 1000%;
    }

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}