
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-12 mt-5">
                    <br><br><br>
                    <h1 align="center" style="font-weight: bold;color: white;font-size: 75px;">Welcome to MH-Verse</h1>
                    <h6 align="center" style="font-weight: bold;color: white;font-size: 20px;">Connect with Fellow
                        Hunters
                        online!</h6>
                    <h6 align="center" style="color: white;">want to connect?</h6>
                    <div class="justify-content-center" align="center">
                        <a type="button" class="btn btn-primary" routerLink="login">Login here!</a><br>
                        <span style="color: white;">or</span><br>
                        <a type="button" class="btn btn-success" routerLink="access/register">Register here!</a><br>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <div class="text-center p-4 footer" style="background-color: #262424;color:white;">
            Made in 2023<br>
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">JP Abella, FE-Dev.</a>
        </div>
    </footer>
